html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of default resets*/


#wrapper {
  width: 100%;
	height: 1950px;
  background-color: rgba(88, 89, 91, 1);
}
#container {
	width: 90%;
	margin: 0 auto;
	font-family: sans-serif;
}
header {
	margin: 0 auto;
	border: 1px solid red;
  padding: 15px 0 15px 25px;
  box-shadow: 3px 0px 5px black;
  position: fixed;
  z-index: 10;
  background-color: rgba(88, 89, 91, 1);
}
header ul {
  margin-right: 6em;
  list-style-type: none;
  background-color: rgba(88, 89, 91, 1);
  float: right;
}
header li {
  font-size: 1.25em;
  padding: 1.1em .2em 1.1em 0em;
  margin: 0 .5em 0 1em;
  float: left;
  display: inline;
  background-color: rgba(88, 89, 91, 1);
  color: rgb(199, 201, 202);
  font-weight: 600;
}
header li span {
  color: #FFD700;
  font-weight: 600;
}
header li:hover {
  color: #FFD700;
}
a {
  color: inherit;
  text-decoration: none;
}
#mattock-logo {
  width: 27%;
}
#contact-img {
  width: 90%;
  margin: 210px 0 0 0;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
  overflow: hidden;
}

#get-in-touch-page {
  margin: 0 auto;
  background-color: rgb(129, 131, 134);
  clear: both;
  overflow: hidden;
  position: relative;
  top: 38em;
}
.get-in-touch {
  width: 43%;
  padding: 1.5em;
  margin: .5em;
  float: left;
}
.get-in-touch form {
  width: 100%;
  padding: 1em;
  background: #FFF;
  border-radius: 1em;
}
#name {
  width: 93%;
  margin-bottom: 1.5em;
	padding: .75em;
	font-size: 1.15em;
}
#mail {
  width: 93%;
  margin-bottom: 1.5em;
	padding: .75em;
	font-size: 1.15em;
}
#subject {
  width: 93%;
  margin-bottom: 1.5em;
	padding: .75em;
	font-size: 1.15em;
}
#msg {
  width: 93%;
  margin-bottom: 1.5em;
	padding: .75em .75em 7em .75em;
	font-size: 1.15em;
}

.submit-button {
  padding: 1.15em;
  margin-bottom: 1em;
  font-size: .75em;
  border: none;
  background-color: #000;
  color: #FFF;
  transition-property: background-color;
  transition-duration: 500ms;
}
.submit-button:hover {
  background-color: #FFD700;
}

.get-in-touch h1 {
  padding: 1em;
  font-size: 1.25em;
  font-weight: 600;
  color: #FFF;
}
.get-in-touch p {
  width: 100%;
  padding: 1em;
  color: #FFF;
  font-weight: 300;
  float: left;
}
.address {
  margin-left: 4.5em;
  text-indent: -4.5em;
  line-height: 1.5
}

span {
  font-weight: 400;
}
#arrow-img {
  width: 80%;
  text-align: center;
}
#map-to-mattock {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(129, 131, 134);
  clear: both;
}
#map-to-mattock img {
  width: 100%;
  margin: 0;
}
footer p {
  padding: 2.25em 3em 1.75em 3em;
  margin: 0 auto;
  font-size: .75em;
	top: 605px;
	position: relative;
  background-color: rgba(37, 37, 37, 1);
  color: rgba(119, 119, 119, 1);
}
@media screen and (max-width:690px) and (min-width:480px) {
	#container {
		max-width: 85%!important;
	}
  footer p {
    margin-bottom: 25px;
  }
}
@media screen and (max-width:320px) and (min-width:480px) {
	#container {
		max-width: 420px;
	}
}
@media screen and (max-width:1000px) and (min-width:690px) {
	#container {
		max-width: 600px;
	}
  #contact-page {
    margin-top: 0!important;
    margin-bottom: 0!important;
  }
}
